/* Desktop - 3 columnas */
@media (min-width: 1024px) {
    #temple-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

      #menu-toggle {
        display: none;
    }
    
    .navigation {
        display: flex;
        flex-direction: row;
        width: auto;
        order: 2;
    }
    
    .navigation a {
        background-color: #5B2C6F;
        border-bottom: none;
        padding: 0.75rem 1rem;
        font-size: 1rem;
    }
    
    .navigation a:hover {
        background-color: #7e5192;
    }
}
